@model IEnumerable<MyAccountingBook.ViewModels.Home.AccountingViewModel>
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.Category)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.Date)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.Money)</th>
            </tr>
        @{ var i = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@(++i)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Category)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Date)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.Money)</td>
            </tr>
        }
        </table>
    </div>
</div>